.single-file-uploader {
  direction: ltr;
  // display: flex;

  .single-file-preview {
    position: relative;

    label {
      margin: 0;
    }

    .thumb {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .image-thumb {
      // height: 80%;

      .chosen-img {
        // height: 100%;
        // width: 8em;
        // width: 10em;
        // height: 10em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .file-thumb {
      display: flex;
      min-width: 0;
      overflow: hidden;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
      }

      img {
        display: block;
        height: 70%;
      }

      h2 {
        direction: rtl;
        font-size: 1.1em;
        margin: 0;
        max-height: 1.5em;
        position: absolute;
        bottom: 0;
        height: fit-content;
        width: fit-content;
        max-width: 16em;
        text-align: center;
        right: 50%;
        transform: translate(50%, -1.1em);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .video-thumb {
      overflow: hidden;

      video {
        height: 100%;
        border-radius: 5px;
      }
    }

    .audio-thumb {
      audio {
        width: 17em;
        border: 1px solid gray;
        border-radius: 70px;
      }
    }

    .remove-icon {
      position: absolute;
      top: 0;
      right: -1em;

      img {
        // height: 1.8em;
        background-color: white;
        border-radius: 15px;
      }
    }

    .error-icon {
      position: absolute;
      top: 0;
      left: -1em;

      img {
        // height: 2em;
      }
    }

    .tool-tip {
      color: red;
    }
  }

  // Hides the "load file" button
  input[type="file"] {
    position: absolute;
    -webkit-appearance: none;
    width: 0;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    right: 0;
    visibility: hidden;
  }

  .basic-theme {
    margin: auto;
    // margin-bottom: 0;
    width: fit-content;
    // padding-top: 1em;
    // padding-bottom: 1em;
  }

  .button-theme {
    label {
      background-color: rebeccapurple;
      border-radius: 25px;
      color: white;
      width: 30%;
      padding: 0.25em;

      div {
        display: inline;
        margin: 0.5em;
      }
    }

    .single-file-preview {
      .thumb {
        margin-bottom: 0.5em;
        align-items: center;
        height: auto;
        display: block;
      }
    }
  }

  .error-popup {
    .dark-background {
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      background-color: black;
      opacity: 0.5;
      z-index: 2;
    }

    .popup {
      position: fixed;
      height: 40%;
      width: 70vh;
      top: 30%;
      left: calc(50vw - 35vh);
      background-color: white;
      z-index: 4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border: 9px solid lightsteelblue;
      padding: 1em;
      border-radius: 15px;
    }

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }

    h2 {
      font-size: 1.5rem;
    }

    .button {
      background-color: rebeccapurple;
      border-radius: 25px;
      color: white;
      width: 30%;
      padding: 0.25em;
    }
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: scale-in-center 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

// animation scale-in-center
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

// animation scale-out-center
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
